@page "/"

@using Microsoft.AspNetCore.Authorization;
@using System.Reflection;
@using EditorNG.Models;

@inject BlogClient blogClient;
@inject IJSRuntime JSRuntime

@attribute [Authorize]

<a href="/add" class="btn btn-success"><span class="glyphicon glyphicon-plus-sign"></span> Add</a>
<button @onclick="@Refresh" class="btn btn-success"><span class="glyphicon glyphicon-refresh"></span> Refresh</button>
<br />

@if (posts != null)
{
    <Table>
        <TableHeader ThemeContrast="ThemeContrast.Light">
            <TableRow>
                @foreach (PropertyInfo propertyInfo in posts[0].GetType().GetProperties())
                {
                    @if (propertyInfo.Name != "PartitionKey" && propertyInfo.Name != "RowKey" && propertyInfo.Name != "ImageUrl")
                    {
                        <TableHeaderCell>@propertyInfo.Name</TableHeaderCell>
                    }
                }
                <TableHeaderCell>Actions</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            @foreach (PostMetadata post in posts)
            {
                <TableRow>
                    @foreach (PropertyInfo propertyInfo in post.GetType().GetProperties())
                    {
                        @if (propertyInfo.Name != "PartitionKey" && propertyInfo.Name != "RowKey" && propertyInfo.Name != "ImageUrl")
                        {
                            <TableRowCell>@propertyInfo.GetValue(post)</TableRowCell>
                        }
                    }
                    <TableRowCell>
                        <button @onclick="@(() => Delete(post))" class="btn btn-danger"><span class="glyphicon glyphicon-remove-sign"></span> Delete</button>
                        <a href=@($"/Edit/{post.Slug}") Match="NavLinkMatch.All" class="btn btn-info"><span class="glyphicon glyphicon-edit"></span> Edit</a>
                    </TableRowCell>
                </TableRow>
            }
        </TableBody>
    </Table>
}
else
{
    <p>Loading ...</p>
}

@code {
    private List<PostMetadata> posts;

    protected override async Task OnInitializedAsync()
    {
        await Refresh();

        var pageViews = await blogClient.GetPageViewsAsync();

        foreach (var pageView in pageViews)
        {
            var post = posts.FirstOrDefault(x => x.PartitionKey == pageView.Slug);

            if (post != null)
            {
                post.Views = pageView.Views;
            }
        }
    }

    private async Task Refresh()
    {
        posts = await blogClient.GetBlogPostsAsync();
    }

    private async Task Delete(PostMetadata post)
    {
        if (!await JSRuntime.InvokeAsync<bool>("confirm", $"Are you sure you want to delete the post '{post.Title}'?"))
            return;

        await blogClient.DeleteBlogPostAsync(post);
        await Refresh();
    }
}