@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <BarItem>
            Hello, @context.User.Identity.Name!
            <Button Color="Color.Primary" @onclick="BeginLogout">Log out</Button>
        </BarItem>
    </Authorized>
    <NotAuthorized>
        <Button Color="Color.Secondary" To="authentication/login">Log in</Button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("authentication/logout");
    }
}